.arrow-button-container {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.arrow-button-container:hover .arrow-right {
  border-left: 1.75rem solid var(--accent-color) !important;
  transform: translateY(-0.15rem);
}
.arrow-button-container:hover .arrow-button {
  font-weight: bold;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 3px 0px 15px var(--foreground-color);
  transform: translateY(-0.15rem);
}

.arrow-button {
  float: left;
  height: 3.5rem;
  background: var(--foreground-color);
  width: 20vw;
  max-width: 275px;
  text-align: center;
  color: var(--background-color);
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.25;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: 0.25s ease-out;
}
.arrow-button:hover {
  font-weight: bold;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.arrow-right {
  width: 1.75rem;
  height: 3.5rem;
  border-top: 1.75rem solid transparent;
  border-bottom: 1.75rem solid transparent;
  border-left: 1.75rem solid var(--foreground-color);
  float: right;
  transition: 0.25s ease-out;
}
