.header-main {
  width: 100%;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  color: var(--foreground-color);
  background-color: var(--background-color);
  box-shadow: 0px 10px 3px -10px var(--foreground-color);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-bar-title {
  margin-left: 0.75em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
