.header-main {
  width: 100%;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  color: var(--foreground-color);
  background-color: var(--background-color);
  box-shadow: 0px 10px 3px -10px var(--foreground-color);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  width: 100%;
  white-space: nowrap;
  margin-left: 8%;
  padding-left: 0.75em;
}

.logo-button {
  display: flex;
  justify-content: center;
  color: var(--background-color);
  background-color: var(--background-color);
  margin: 0.75rem;
  font-size: 3rem;
  border: var(--foreground-color) 0.3rem solid;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  transition: 0.25s ease-out;
  max-height: 100px;
  max-width: 100px;
  min-height: 50px;
  min-width: 50px;
}
.logo-button:hover {
  transform: translateY(-0.15rem);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 15px var(--foreground-color);
  border-style: double;
  border: var(--accent-color) 0.3rem double;
  text-decoration: none;
}

.logo-img {
  height: 100%;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

.header-bar-title {
  margin-left: 0.75em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
