.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-right: 3%;
}

.page-content {
  float: left;
  min-width: 165px;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  width: 97%;
}

.line-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.page-wrapper h5 {
  text-transform: uppercase;
}

.page-wrapper p a {
  color: var(--accent-color);
  font-family: "Josefin Sans";
  position: relative;
  padding: 0.5rem;
}
.page-wrapper p a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: var(--foreground-color);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.page-wrapper p a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
